body {
    background-color: #333;
  }
  
  .calculator {
    width: 200px;
    margin: 0 auto;
    text-align: center;
    background-color: #444;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  }
  
  #result {
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
    font-size: 18px;
    background-color: #666;
    color: #fff;
    border: none;
    border-radius: 3px;
  }
  
  .buttons button {
    width: 50px;
    height: 50px;
    margin: 2px;
    font-size: 20px;
    background-color: #999;
    color: #fff;
    border: none;
    border-radius: 3px;
  }
  
  .buttons button.operator {
    background-color: #f94f4f;
  }
  
  .buttons #equal {
    background-color: #42b542;
  }
  